#Contact {
    background: #0f1113;
    color: aliceblue;
    overflow-x: hidden;
    padding:2% 0%;
    
    
  }
  
  .Contact_head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin-top: 7%;
    
  }
  
  @media (max-width: 768px) {
    /* Adjust the font size for smaller screens */
    .Contact_head {
      font-size: 40px;
    }
  }
  
  .Contact_head p {
    width: fit-content;
    position: relative;
    margin-bottom: 1%;
    padding-bottom: 1.5%;
    font-size: 35px;
  }
  
  .Contact_head p::after {
    display: block;
    content: " ";
    width: 30%;
    height: 12px;
    background-color: #574ae2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
  }
  
  .Contact_intro p {
    font-size: 18px;
    padding: 1% 10%;
    text-align: center;
    margin-bottom: 3%;
  }
  
  @media (max-width: 768px) {
    /* Adjust the font size for smaller screens */
    .Contact_intro p {
      font-size: 16px;
    }
  }
  
  .Contact_form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
  }
  
  .Contact_form input {
    
    height: 40px;
    border: #574ae2;
    border-bottom: 3px solid #574ae2;
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    padding: 1.5% 0%;
    color: aliceblue;
    outline: none;
  }
  
  @media (max-width: 768px) {
    /* Adjust the font size for smaller screens */
    .Contact_form input {
      font-size: 16px;
    }
  }
  
  .Contact_form button {
    height: 50px;
    width: 130px;
    color: #574ae2;
  }
  
  .Contact_form button:hover {
    color: aliceblue;
  }
  




  .path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 114.09569377990434,144.6937799043062 228.19138755980867,156.38755980861245 321,149 C 413.8086124401913,141.61244019138755 485.33014354066984,115.14354066985646 567,110 C 648.6698564593302,104.85645933014354 740.4880382775119,121.03827751196172 852,117 C 963.5119617224881,112.96172248803828 1094.7177033492821,88.70334928229666 1196,88 C 1297.2822966507179,87.29665071770334 1368.641148325359,110.14832535885168 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    25%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 98.78468899521536,146.9043062200957 197.56937799043072,160.80861244019138 292,153 C 386.4306220095693,145.19138755980862 476.50717703349267,115.66985645933015 579,111 C 681.4928229665073,106.33014354066985 796.4019138755982,126.51196172248802 888,133 C 979.5980861244018,139.48803827751198 1047.8851674641148,132.2822966507177 1136,130 C 1224.1148325358852,127.71770334928229 1332.0574162679427,130.35885167464113 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    50%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 126.23923444976077,116.53110047846889 252.47846889952154,100.06220095693779 333,110 C 413.52153110047846,119.93779904306221 448.32535885167465,156.2822966507177 539,167 C 629.6746411483253,177.7177033492823 776.2200956937799,162.8086124401914 891,154 C 1005.7799043062201,145.1913875598086 1088.7942583732058,142.48325358851676 1175,140 C 1261.2057416267942,137.51674641148324 1350.6028708133972,135.25837320574163 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    75%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 93.00478468899524,127.11483253588517 186.0095693779905,121.22966507177034 282,135 C 377.9904306220095,148.77033492822966 476.96650717703335,182.19617224880383 573,169 C 669.0334928229667,155.80382775119617 762.1244019138757,95.98564593301437 857,88 C 951.8755980861243,80.01435406698563 1048.5358851674641,123.86124401913875 1146,140 C 1243.4641148325359,156.13875598086125 1341.732057416268,144.5693779904306 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    100%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 114.09569377990434,144.6937799043062 228.19138755980867,156.38755980861245 321,149 C 413.8086124401913,141.61244019138755 485.33014354066984,115.14354066985646 567,110 C 648.6698564593302,104.85645933014354 740.4880382775119,121.03827751196172 852,117 C 963.5119617224881,112.96172248803828 1094.7177033492821,88.70334928229666 1196,88 C 1297.2822966507179,87.29665071770334 1368.641148325359,110.14832535885168 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
  }




  .path-1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-1{
    0%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 96.35406698564591,273.64593301435406 192.70813397129183,281.2918660287081 290,271 C 387.29186602870817,260.7081339712919 485.52153110047846,232.47846889952154 573,244 C 660.4784688995215,255.52153110047846 737.2057416267942,306.79425837320576 839,312 C 940.7942583732058,317.20574162679424 1067.6555023923447,276.3444976076555 1172,261 C 1276.3444976076553,245.6555023923445 1358.1722488038276,255.82775119617224 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    25%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 129.33014354066987,267.88516746411483 258.66028708133973,269.77033492822966 339,264 C 419.33971291866027,258.22966507177034 450.6889952153109,244.8038277511962 539,239 C 627.3110047846891,233.1961722488038 772.5837320574163,235.01435406698567 894,247 C 1015.4162679425837,258.9856459330143 1112.9760765550238,281.1387559808612 1200,286 C 1287.0239234449762,290.8612440191388 1363.5119617224882,278.4306220095694 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    50%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 87.7129186602871,283.39712918660285 175.4258373205742,300.7942583732057 266,293 C 356.5741626794258,285.2057416267943 450.0095693779905,252.22009569377994 567,246 C 683.9904306220095,239.77990430622006 824.5358851674641,260.32535885167465 913,273 C 1001.4641148325359,285.67464114832535 1037.846889952153,290.47846889952154 1117,288 C 1196.153110047847,285.52153110047846 1318.0765550239234,275.7607655502392 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    75%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 72.60287081339715,240.07655502392345 145.2057416267943,214.1531100478469 235,225 C 324.7942583732057,235.8468899521531 431.77990430622015,283.46411483253587 536,301 C 640.2200956937799,318.53588516746413 741.6746411483255,305.99043062200957 840,301 C 938.3253588516745,296.00956937799043 1033.5215311004783,298.57416267942585 1133,294 C 1232.4784688995217,289.42583732057415 1336.2392344497607,277.7129186602871 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    100%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 96.35406698564591,273.64593301435406 192.70813397129183,281.2918660287081 290,271 C 387.29186602870817,260.7081339712919 485.52153110047846,232.47846889952154 573,244 C 660.4784688995215,255.52153110047846 737.2057416267942,306.79425837320576 839,312 C 940.7942583732058,317.20574162679424 1067.6555023923447,276.3444976076555 1172,261 C 1276.3444976076553,245.6555023923445 1358.1722488038276,255.82775119617224 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
  }