*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass' , sans-serif;
}
html{
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    scroll-behavior: smooth;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0f1113;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #574AE2;
    border-radius: 10px;
  }
  